bot/assets/cosmetics/custom/
bot/assets/graph/custom/
bot/assets/hotbar/custom/
bot/assets/milestones/custom/
bot/assets/practice/custom/
bot/assets/projection/custom/
bot/assets/ratios/custom/
bot/assets/resources/custom/
bot/assets/session/custom/
bot/assets/shop/custom/
bot/assets/total/custom/
bot/assets/compare/custom/
bot/database/
bot/misc/
bot/__pycache__/
bot/helper/__pycache__/
bot/render/__pycache__/
bot/calc/__pycache__/
bot/cache/
website/
website_old/
