bot/cosmetics/custom/
bot/graph/custom/
bot/hotbar/custom/
bot/hotbar/custom/
bot/milestones/custom/
bot/practice/custom/
bot/projection/custom/
bot/ratios/custom/
bot/resources/custom/
bot/session/custom/
bot/shop/custom/
bot/total/custom/
bot/database/
bot/misc/
bot/__pycache__/
bot/helper/__pycache__/
bot/render/__pycache__/
bot/calc/__pycache__/
bot/cache/
website/
website_old/
