# Output
**/database/
**/cache/
**/.cache/
**/__pycache__/
**/logs/

# Secrets
**/.env*
!.env.example
apps/bot/tips.json

# Private apps
apps/website/
apps/utils/
apps/api/

# Generated
.vscode/
.devtools/
.venv/
venv/
.hintrc
desktop.ini

# Misc
**/test.py
pyrightconfig.json
